@import '../App.css';

.login-container {
    display: block;
    padding-top: 5rem;
    padding-left: 30rem;
    padding-right: 30rem;
}

.login-input-element {
    width: 250px;
    height: 18px;
    font-family: karla;
    font-size: 14px;
    padding: 10px 10px 10px 10px;
}

.login-error-message {
    color: red;
    font-family: karla;
    font-size: 12px;
    position: relative;
    margin-top: 2px;
    font-weight: 600;
    margin-bottom: -12px;
}

.login-page-buttons {
    color: #fff;
    background-color: #07376e;
    border: none;
    height: 48px;
    margin-top: 10px;
    margin-left: 10px;
    cursor: pointer;
}

.login-title {
    font-size: 25px;
    text-align: justify;
    text-align: center;
    font-family: karla;
    padding: 10px 57px 20px 20px;
}

.error-container {

    color: rgb(255, 0, 0);
    margin-right: 1.2rem;
    text-align: center;
    margin-bottom: -6px;
}

#show-password {
    margin-left: -30px;
}